.article {
	h1 {
		color: $body-color;
		font-weight: bold;
		font-size: 34px;
		line-height: 42px;

	}
}
.article-content {
	img {
        max-width: 100%;
        float: left;
        margin: 25px 25px 25px 0;
    }
}